body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    background-color: #f8f9fa;
}

h1 {
    margin: 20px;
    color: #6c757d;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr 2fr 2fr 1.5fr;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.text,
.code,
.link {
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text h2 {
    color: #007bff;
}

.text p {
    text-align: justify;
    width: 100%;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    white-space: pre;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0;
    text-align: left;
}

.link {
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: auto;
    object-fit: contain;
}











/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    background-color: #f8f9fa;
}

h1 {
    margin: 20px;
    color: #6c757d;
}

.container {
    display: flex;
    width: 80%;
    height: 70%;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
    width: 100%;
    align-items: center;
    gap: 0;
}

.text,
.code,
.link {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h2,
.link a {
    color: #007bff;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    color: #28a745;
    white-space: pre;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */







/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
    flex-wrap: wrap;
}

.content>* {
    margin: 10px;
    width: 20%;
}

video {
    max-width: 100%;
    height: auto;
} */