body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: center;
    background-color: #f8f9fa;
}

h1 {
    margin: 20px;
    color: #6c757d;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 70%; */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 3fr 1.5fr 1.5fr 1.5fr 0.5fr;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.text {
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.code {
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text h2 {
    color: #007bff;
}

.text p {
    text-align: justify;
    width: 100%;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    white-space: pre;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0;
    text-align: center;
}

.code img {
    width: 100%;
}

.link {
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: auto;
    object-fit: contain;
}