<launch>
    <!-- Jackal autonomy stack -->
    <include file="$(find ut_jackal)/launch/autonomy.launch" />

    <!-- Put the Robot IP here in place of 10.0.0.123 -->
    <node name="interface_server"
        pkg="robot_commands"
        type="codebotler_deploy.py"
        cwd="node"
        args="--ip 10.0.0.123 --robot"
        respawn="true"
        respawn_delay="2"
        output="screen"/>

    <node name="interface"
        pkg="robot_commands"
        type="interface.py"
        cwd="node"
        respawn="true"
        respawn_delay="2"
        output="screen"/>

</launch>
